* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 5000px;
  font-family: "Josefin Sans", sans-serif;
  color: #333;
}
body p {
  font-size: 24px;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;
  align-items: center;
}

#menu {
  width: 64vw;
  height: 100%;
  display: flex;
  margin: 0;
  align-content: center;
  text-transform: uppercase;
  font-size: 16px;
}
#menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 6vh;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}
#menu a:hover {
  background: #ddd;
  color: black;
  transition: 0.5s ease-in-out;
}

#branded-name {
  font-family: "Rubik", sans-serif;
  color: #e04531;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px #ccc;
  font-weight: 900;
  font-size: 20px;
  height: 6vh;
  width: 18vw;
  margin: 0 1vh;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  min-width: 200px;
  transition: 0.2s ease-in-out;
}
#branded-name span {
  font-size: 23px;
  transition: 0.2s ease-in-out;
}

#branded-name:hover {
  cursor: pointer;
  font-size: 23px;
  transition: 0.2s ease-in-out;
}
#branded-name:hover span {
  font-size: 26px;
  transition: 0.2s ease-in-out;
}

#hamburger-menu {
  display: none;
}

main {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#scroll-main {
  position: fixed;
}

.scroll-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 100px 100px 0 100px;
}
.scroll-block p {
  font-size: 1.5em;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  left: 0;
  top: 0;
  background-size: 1000% 1000%;
  background-image: radial-gradient(yellow, #ff6883, #2b8fff);
  animation: gradientBackground 30s infinite ease-in-out;
}
#about p {
  padding-right: 5vw;
  max-height: 50%;
}

#pic-me {
  border-radius: 50%;
  border: 2px solid whitesmoke;
  height: 40vh;
}

#computer-pic {
  height: 32vh;
  width: 32vh;
  justify-self: flex-end;
  margin-top: 4vh;
}

#computer-pic:hover {
  cursor: pointer;
}

#skills {
  left: 0;
  top: 100vh;
  color: white;
  background-image: url("../../docs/images/screen-shot1.png");
  background-size: cover;
  background-position: center;
  background-position-y: 0;
}

#experience {
  left: 100vw;
  top: 100vh;
  background: #fff388;
}

#testimonials {
  left: 100vw;
  top: 200vh;
  background: #ff88ef;
}

#portfolio {
  left: 200vw;
  top: 200vh;
  background: #88fff9;
}

#contact {
  left: 200vw;
  top: 300vh;
  background: #84ff6b;
}

footer {
  background: black;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@media only screen and (max-width: 1080px) {
  #menu {
    display: none;
  }

  #hamburger-menu {
    top: 10px;
    right: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
