$main-font: "Josefin Sans", sans-serif;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 5000px;
  font-family: $main-font;
  p {
    font-size: 24px;
  }
  color: #333;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;
  align-items: center;
}
#menu {
  width: 64vw;
  height: 100%;
  display: flex;
  margin: 0;
  align-content: center;
  text-transform: uppercase;
  font-size: 16px;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 6vh;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
  }
  a:hover {
    background: #ddd;
    color: black;
    transition: 0.5s ease-in-out;
  }
}
#branded-name {
  font-family: "Rubik", sans-serif;
  color: #e04531;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px #ccc;
  font-weight: 900;
  font-size: 20px;
  height: 6vh;
  width: 18vw;
  margin: 0 1vh;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  min-width: 200px;
  transition: 0.2s ease-in-out;
  span {
    font-size: 23px;
    transition: 0.2s ease-in-out;
  }
}
#branded-name:hover {
  cursor: pointer;
  font-size: 23px;
  span {
    font-size: 26px;
    transition: 0.2s ease-in-out;
  }
  transition: 0.2s ease-in-out;
}

#hamburger-icon {
  display: none;
}
#hamburger-menu {
  flex-direction: column;
  min-width: 33.33%;
  right: 0;
  top: 8vh;
  background: #ddd;
  border-radius: 0 0 10px 10px;
  position: fixed;
  padding: 10px;
  display: none;
  li {
    display: flex;
    align-items: center;
    height: 2em;
    border-radius: 10px;
    padding: 0 7px;
  }
  li:hover {
    background: whitesmoke;
  }
}

main {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#scroll-main {
  position: fixed;
}

.scroll-block {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 60px 5vw 0 5vw;
  overflow: scroll;
  p {
    font-size: 1.5em;
  }
}

article h1 {
  font-size: 2em;
}

.about-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about {
  left: 0;
  top: 0;
  // background-image: linear-gradient(to bottom right, #ff6883, yellow);
  p {
    padding-right: 5vw;
    max-height: 50%;
  }
  background-size: 1000% 1000%;
  background-image: radial-gradient(#ece472, rgba(255, 104, 131, 1), #2b8fff);
  animation: gradientBackground 45s infinite ease-in-out;
}
#pic-me {
  border-radius: 50%;
  border: 2px solid whitesmoke;
  height: 40vh;
}
#computer-pic {
  height: 12vh;
  width: 12vh;
  justify-self: flex-end;
  margin-top: 4vh;
  transition: ease-in-out 0.3s;
  margin: 20px 0;
}
#computer-pic:hover {
  cursor: pointer;
  height: 20vh;
  width: 20vh;
  transition: ease-in-out 0.3s;
}
#skills {
  left: 0;
  top: 100vh;
  color: whitesmoke;
  background: #333;
  background-size: cover;
  background-position: center;
  background-position-y: 0;
}
.skills {
  justify-content: space-evenly;
}
.skill {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  line-height: 1.5;
  font-weight: 700;
  color: whitesmoke;
}
.icon {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 10vh;
  padding: 1vh 2vh;
  margin: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    margin: auto;
  }
}

#experience {
  left: 100vw;
  top: 100vh;
  background: rgb(255, 243, 136);
}

#testimonials {
  left: 100vw;
  top: 200vh;
  background: rgb(255, 136, 239);
}

#portfolio {
  left: 200vw;
  top: 200vh;
  background: rgb(136, 255, 249);
}

#contact {
  left: 200vw;
  top: 300vh;
  background: rgb(132, 255, 107);
}

footer {
  background: black;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media only screen and (max-width: 1080px) {
  #menu {
    display: none;
  }
  #hamburger-icon {
    display: block;
    top: 10px;
    margin-right: 16px;
  }
  #hamburger-icon:hover {
    cursor: pointer;
  }
  #about .row {
    flex-direction: column;
  }
  .about-images {
    justify-content: flex-start;
  }
}
